@use 'pattern/utility';
@use 'pattern/colors';

:host {
  display: flex;
  flex-direction: column;
  padding: utility.get-rem(20);
  border-top: utility.get-rem(1) solid colors.get-color('SkyBlue90');
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: utility.get-rem(8);

  a {
    color: colors.get-color('DarkBlue');
    padding-right: utility.get-rem(15);

    &:last-of-type {
      padding-right: 0;
    }
  }
}
