@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

@font-face {
  font-family: 'SuaadhyaDisplayLight';
  font-style: normal;
  src: url('../assets/fonts/SuaadhyaDisplay/SuaadhyaDisplay-Light-Web.woff2') format('woff2'),
      url('../assets/fonts/SuaadhyaDisplay/SuaadhyaDisplay-Light-Web.woff') format('woff');
  font-display: swap;    
}

@font-face {
  font-family: 'SuaadhyaDisplayMedium';
  font-style: normal;
  src: url('../assets/fonts/SuaadhyaDisplay/SuaadhyaDisplay-Medium-Web.woff2') format('woff2'),
      url('../assets/fonts/SuaadhyaDisplay/SuaadhyaDisplay-Medium-Web.woff') format('woff');
  font-display: swap;    
}

@font-face {
  font-family: 'SuaadhyaDisplayRegular';
  font-style: normal;
  src: url('../assets/fonts/SuaadhyaDisplay/SuaadhyaDisplay-Regular-Web.woff2') format('woff2'),
      url('../assets/fonts/SuaadhyaDisplay/SuaadhyaDisplay-Regular-Web.woff') format('woff');
  font-display: swap;
}