@use 'pattern/utility';

:root {
  --suaadhya-font-base-unitless: 12;
  --suaadhya-font-base: 12px;
  --suaadhya-font-heading-xxl: 48px;
  --suaadhya-font-heading-xl: 36px;
  --suaadhya-font-heading-l: 28px;
  --suaadhya-font-heading-m: 24px;
  --suaadhya-font-heading-s: 20px;
  --suaadhya-font-text-l: 14px;
  --suaadhya-font-text-m: 12px;
  --suaadhya-font-text-s: 10px;
  --suaadhya-font-text-xs: 8px;
  --suaadhya-font-label-l: 12px;
  --suaadhya-font-label-m: 10px;
  --suaadhya-font-label-s: 8px;
  --suaadhya-font-button-l: 14px;
  --suaadhya-font-button-s: 12px;
  --suaadhya-gutter-base-unitless: 8;
}

/*
Store all your global variables, such as colors, font sizes, breakpoints, and other reusable values.
*/

$basic-tones-suaadhya-dark: #1a1a19;
$basic-tones-suaadhya-light: #e6e6e5;
$basic-tones-suaadhya-ultra-light: #f8f7f7;
$basic-tones-suaadhya-medium: #908d89;
$basic-tones-suaadhya-medium-light: #cccbc9;
$basic-tones-suaadhya-white: #ffffff;
$basic-tones-suaadhya-medium-dark: #4f4d4a;
$basic-tones-suaadhya-medium-gray: #707070;
$primary-suaadhya-dark-blue: #0f204b;
$primary-suaadhya-medium-blue: #003591;
$primary-suaadhya-sky-light-blue: #e9f7fc;
$background-white: #fbf8f3;
$table-body-row-even-bg: #fbfbfb;
$active-filter-tag-bg: #f2fafd;
$active-filter-tag-text: #4b5563;
$home-header-bg: #d9edf7;
$page-details-header-bg: #ecf6fb;
$black: #000000;
$deep-saphire-blue: #0f378b;
$sky-breeze-blue: #a8d7ee;
$sky-blue: #99d9f0;
$midnight-navy: #132049;
$regal-blue: #1e3a8a;
$dusk-blue: #1e293b;
$deep-blue-shade:#13348d;
$button-disabled-text: #707070;
$stone-gray: #9c9a96;
$stone-gray-alt: #ddd;
$selected-row-bg: #009fda0f;

$remSizeNo: 14;
$remSize: $remSizeNo + px;

// for max-width usage
$breakpoint-sm: 574px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1199px;
$breakpoint-rec-zoom: 1299px;


$fern-green: #5c9a40;
$ash-grey: #b6b4b1;
$light-yellow: #fef9b9;
$pastel-green: #d1eac8;
$concrete: #f3f2f2;
$forest-green-light: #1d7613;

$button-focus-shadow: none;
$default-border-radius: 10px;
$button-border-radius: $default-border-radius;
$border-radius-checkbox: 4px;
$button-font-weight: 700;
$button-primary-text: $basic-tones-suaadhya-white;
$button-disabled-text: $basic-tones-suaadhya-medium-gray;
$button-disabled-background: $basic-tones-suaadhya-light;

$breadcrumb-icon-separator-color: #696763;

$input-disabled-border: #cbcac8;

$chart-header-overdue-bg: #c54d421a;
$chart-header-overdue-text: #c54d42;
$chart-header-becoming-overdue-bg: #f9731614;
$chart-header-becoming-overdue-text: #df6008;

/*
Defines horizontal margins for shared-grid component when used on various pages
for multiple screen sizes.
*/
$table-list-margin-size: utility.get-rem(38);
$table-list-margin-size-sm: utility.get-rem(20);
$table-list-margin-size-md: utility.get-rem(32);
$table-details-margin-size: utility.get-rem(88);
$table-details-margin-size-sm: utility.get-rem(16);
$table-details-margin-size-md: utility.get-rem(24);
$table-details-margin-size-xl: utility.get-rem(32);