@use 'pattern/colors';
@use 'variables';

body {
  background-color: rgba(15, 32, 75, 0.4);
}

#initial-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#initial-loader.loader-visible {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  font-family: sans-serif;
  font-size: 1.5rem;
}

#initial-loader.loader-hidden {
  display: none;
}

.spinner-box {
  background-color: colors.get-color('UiWhite');
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.spinner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--dnv-font-text-s);
  color: colors.get-color('UiBlack');
}

#spinner {
  width: 83px;
  height: 83px; 
  border: 4px solid variables.$sky-breeze-blue; 
  border-radius: 50%;
  border-top: 4px solid transparent;
  animation: spin 1s linear infinite;
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

