<ng-container *transloco="let t">
  <div class="container">
    <div class="header">
      <img
        alt="DNV logo"
        class="logo--lg"
        src="../../../assets/logos/dnv-logo-color.svg" />
    </div>
    <div class="content">
      <div class="card">
        <div class="card-text-container">
          <p class="card-title">
            {{ t('logout.title') }}
          </p>
          <p class="card-description">
            {{ t('logout.description') }}
          </p>
        </div>
        <div class="logout-actions">
          <shared-button
            [label]="t('logout.goBackButton')"
            [type]="sharedButtonType.Secondary"
            (clickEvent)="onLoginClick()">
          </shared-button>

          <shared-button
            [label]="t('logout.goToDnvButton')"
            [type]="sharedButtonType.Outline"
            (clickEvent)="onGoToDnvClick()">
          </shared-button>
        </div>
      </div>
    </div>
  </div>
</ng-container>
