<ng-container *transloco="let t">
  <erp-services-navbar-button
    icon="cog"
    iconPosition="right"
    [isActive]="isButtonSettingsActive()"
    [label]="t('settings')"
    (clickEvent)="onTogglePopover($event)">
  </erp-services-navbar-button>

  <p-popover
    #settingsPopover
    styleClass="navbar-settings-popover"
    (onHide)="onToggleButtonSettingsActive(false)"
    (onShow)="onToggleButtonSettingsActive(true)">
    <ng-template pPopoverContent>
      <div
        class="container"
        tabindex="0"
        [ngClass]="{ 'is-language-picker': isLanguagePickerVisible }">
        @if (isLanguagePickerVisible) {
          <erp-services-navbar-button
            class="back"
            icon="arrow-left"
            [label]="t('back')"
            (clickEvent)="onChangeLanguagePickerVisibility(false)">
          </erp-services-navbar-button>

          <div class="grouping">
            @for (language of languages(); track language) {
              <erp-services-navbar-button
                [isMobileTextVisible]="true"
                [label]="t('language.' + language)"
                (clickEvent)="onChangeLanguage(language)">
              </erp-services-navbar-button>
            }
          </div>
        } @else {
          <div class="grouping">
            <erp-services-navbar-button
              icon="user"
              [label]="t('navbar.personalInformation')"
              (clickEvent)="onNavigateTo('settings', settingsTab.PersonalInformation, $event)">
            </erp-services-navbar-button>

            <erp-services-navbar-button
              icon="building"
              [label]="t('navbar.companyDetails')"
              (clickEvent)="onNavigateTo('settings', settingsTab.CompanyDetails, $event)">
            </erp-services-navbar-button>

            <erp-services-navbar-button
              icon="sitemap"
              [label]="t('navbar.members')"
              (clickEvent)="onNavigateTo('settings', settingsTab.Members, $event)">
            </erp-services-navbar-button>
          </div>

          <tr aria-hidden="true"></tr>

          <div class="grouping">
            <erp-services-navbar-button
              icon="language"
              [label]="t('navbar.language')"
              (clickEvent)="onChangeLanguagePickerVisibility(true)">
            </erp-services-navbar-button>

            @if (!isSuaadhyaUser()) {
              <erp-services-navbar-button
                icon="sign-out"
                [label]="t('navbar.logOut')"
                (clickEvent)="onLogoutClick($event)">
              </erp-services-navbar-button>
            }
          </div>
        }
      </div>
    </ng-template>
  </p-popover>
</ng-container>
